.container {
    display: flex;   
    flex: 1 1 45rem;
    height: 100%;    
    box-shadow: var(--box-shadow);
    padding: 2rem 9%;
    margin: 2rem;
    border-radius: .5rem;
}
.logo{
    flex: 1 1 45rem;
    display: flex;
    align-items: center;
    padding: 2rem 9%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}


.form{
    flex: 1 1 45rem;
    background: var(--cor2);
    display: flex;
    align-items: center;
    padding: 2rem 9%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.form-container{
    width: 500rem;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: .5rem;
}
form{
    font-size: 2rem;
    width: 100%;
    padding: 1rem 5%;
    color: var(--cor4);
}

form input{
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.7rem;
    background: var(--cor7);
}
form a{
    color: var(--cor9);
    text-decoration: underline;
}
form a:hover{
    color: var(--cor3);
}
form h3{
    text-align: center;
    font-size: 3rem;
}
