.summit{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
}
.summit .figure{
    flex: 1 1 45rem;
}
.summit .figure img{
    width: 100%;
}
.summit .content{
    flex: 1 1 45rem;
    margin: 2rem;
}
.summit .content h3{
    font-size: 4.5rem;
    color: var(--quase-preto);
    line-height: 1.8;
    text-shadow: var(--text-shadow-box);

}
.summit .content p{
    font-size: 1.7rem;
    color: var(--cinza-medio);
    line-height: 1.8;
    padding: 1rem 0;
    
}
.servicing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(27rem,1fr));
    gap: 2rem;
    margin: 2rem;
}

.servicing .box-container .box{
    background: var(--bg);
    border-radius: .5rem;
    box-shadow: var(--box-shadow-box);
    border: var(--border);
    padding: 2.5rem;
}
.servicing .box-container .box i{
    color: var(--laranja);
    font-size: 5rem;
    padding-bottom: .5rem;
}
.servicing .box-container .box h3{
    color: var(--quase-preto);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.servicing .box-container .box li{
    color: var(--cinza-medio);
    font-size: 1.4rem;
    line-height: 2;
}

.team .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 2rem;
    margin: 2rem;
}
.team .box-container .box{
    text-align: center;
    background: var(--bg);
    border: var(--border);
    box-shadow: var(--box-shadow-box);
    padding: 2rem;
}
.team .box-container .box img{
    height: 20rem;

    margin-top:1rem;
    margin-bottom: 1rem;
}
.team .box-container .box .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.team .box-container .box .photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.team.box-container .box h2{
    color: var(--quase-preto);
    font-size: 2.8rem;
}
.team .box-container .box span{
    color: var(--laranja);
    font-size: 1.6rem;
}

.team .box-container .box .share{
    padding-top: 2rem;
}
.team .box-container .box .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    color: var(--azul);
    border-radius: 50%;
    border: var(--border);
    margin: .3rem;
}
.team .box-container .box .share a:hover{
    background: var(--azul-escuro);
    color: var(--bg);
    box-shadow: var(--box-shadow-box);
}

.billhead{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--quase-preto);
    font-size: 5rem;
    letter-spacing: .4rem;
}
.billhead span{
    color: var(--laranja);
    text-transform: uppercase;
}
#disable{
    color: var(--cinza_azulado);
    background: var(--azul-light);
}