/* Estilos para página de alterar senha */

.password-strength {
    font-size: var(--font-size-xs);
    margin-top: 5px;
}

.strength-weak { 
    color: var(--cor12); 
}

.strength-medium { 
    color: var(--cor14); 
}

.strength-strong { 
    color: var(--cor11); 
}

.password-requirements {
    margin-top: 10px;
    font-size: 12px;
}

.requirement {
    margin: 2px 0;
    color: var(--cor16);
}

.requirement-met {
    color: var(--cor11);
}

.requirement-not-met {
    color: var(--cor12);
}

.form-info {
    text-align: center;
    color:var(--cor16);
    margin-bottom: 20px;
    font-size: 14px;
}

