.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto; 
    border-radius: .5rem;
    background: var(--cor2);
    width: 80%;   
    
}

.gerenciarprodutos .logo_foto,
.usuario .logo_foto{
    background: var(--cor4);
    border-radius: .8rem;    
    font-size: 2rem;
    padding: 2rem;
    display: flex;
    margin-top: 8rem; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10rem;
}
.gerenciarprodutos .perfil-cadastro .image,
.usuario .logo_foto .perfil{
    display: flex;
    align-items: center;    
    flex-direction: column;
    padding: 2rem;   
    width: 100%;
    max-width: 300px; 
    gap: 2rem;
}
.gerenciarprodutos .perfil-cadastro  .image,
.usuario .logo_foto .perfil .image{
    padding: 2rem 5%;
    margin: 1rem;
}
.usuario .logo_foto .perfil .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gerenciarprodutos .perfil-cadastro  .image img,
.usuario .logo_foto .perfil .image img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.service{
    display: flex;    
    align-items: center;
    justify-content: center;    
    height: 100%;    
    padding: 2rem;
    margin: 2rem 0; 
    border-radius: .5rem;
    background: var(--cor2);
    width: 100%; 
    max-width: 100%;
    flex-wrap: wrap; 
}

.service .gerenciar,
.service .ordem-servico,
.service .manutencao {
    background: var(--cor4);
    height: 20rem;
    width: 100%; 
    max-width: 20rem; 
    border-radius: .5rem;    
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;   
    margin: 2rem; 
}

.service .gerenciar h5,
.service .ordem-servico h5,
.service .manutencao h5{
    font-size: 2rem;
}

.service .gerenciar a,
.service .ordem-servico a,
.service .manutencao a{
    font-size: 4rem;
    color: var(--cor9);
}
.service .gerenciar a:hover,
.service .ordem-servico a:hover,
.service .manutencao a:hover{
    color:var(--cor2);
    scale: 2;
}