.updateperfil{   
    display: flex;   
    flex: 1 1 45rem;
    height: 100%;   
    padding: 2rem 9%;
    margin: 2rem;
    border-radius: .5rem;
}
.form-update{   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
    border-radius: .5rem;
    background: var(--cor1);
    width: 100%;
}
.form-update .form-container-update form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form-update .form-container-update form input{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}
.form-update .form-container-update form h3{
    color: var(--cor4);
    font-size: 3rem;

}
.form-update .form-container-update form label{
    color: var(--cor4);
    align-self: flex-start;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.form-update .form-container-update form .foto-update-perfil{
    width: 100%;
    border-radius: 50%;
    text-align: center;
}
.form-update .form-container-update form .foto-update-perfil input{
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    background: var(--cor4);
}
.form-update .form-container-update form .foto-update-perfil img{
    width: 20rem;
    object-fit: cover;
}